<a href="https://colab.research.google.com/github/theabdulbasitt/python-for-data-science/blob/main/python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = [50,45,54,49,98,65,49,91,81,71,61,45,46,56,67,89,90]
print(data)

[50, 45, 54, 49, 98, 65, 49, 91, 81, 71, 61, 45, 46, 56, 67, 89, 90]

In [4]:
import numpy as np

grades = np.array(data)

print(grades)

[50 45 54 49 98 65 49 91 81 71 61 45 46 56 67 89 90]

In [5]:
grades.shape

(17,)

In [7]:
grades[1]

np.int64(45)

In [9]:
grades.mean()

np.float64(65.11764705882354)

In [14]:
study_hours = [5,12,11,21,9,8,7,6,5,4,11,12,13,13,15,16,17]
sh = np.array(study_hours)
sh.shape

(17,)

In [17]:
sd = np.array([sh, grades])
sd

array([[ 5, 12, 11, 21,  9,  8,  7,  6,  5,  4, 11, 12, 13, 13, 15, 16,
        17],
       [50, 45, 54, 49, 98, 65, 49, 91, 81, 71, 61, 45, 46, 56, 67, 89,
        90]])

In [19]:
sd[0][1]

np.int64(12)

In [22]:
avg_study = sd[0].mean()
avg_grade = sd[1].mean()
print(f'Average Study time : {avg_study},\nAverage grades of students {avg_grade}')

Average Study time : 10.882352941176471,
Average grades of students 65.11764705882354

In [23]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny', 'ali', 'hassan']
                            ,'study_hours': sh
                            ,'grades': grades})
df_students

         Name  study_hours  grades
0         Dan            5      50
1       Joann           12      45
2       Pedro           11      54
3       Rosie           21      49
4       Ethan            9      98
5       Vicky            8      65
6    Frederic            7      49
7      Jimmie            6      91
8      Rhonda            5      81
9    Giovanni            4      71
10  Francesca           11      61
11      Rajab           12      45
12    Naiyana           13      46
13       Kian           13      56
14      Jenny           15      67
15        ali           16      89
16     hassan           17      90